/*@tailwind base;*/
/*@tailwind components;*/
/*@tailwind utilities;*/

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: darkgreen;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: #333;
    color: white;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul a {
    color: white;
    text-decoration: none;
}
footer {
    width: 40%;
    margin-left: 10%;
}
header {
    background-color:green;
}
.p-3-text {
    margin-left: 20px;
}
